*
body {
background-color: yellow;

}

@import url('https://fonts.Sgoogleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');

h1 {
  font-family: 'Montserrat', sans-serif;
  margin: 2% 0% 0% 5%;
  font-size: 425%;
  color: #E4C9B4
}

h2{
    font-family: 'Roboto', sans-serif;
    margin: 1% 0% 2% 6% ;
    font-size: 150%;
    color: #95A8AC
}

ul{
  font-family: 'Roboto', sans-serif;
  margin: 2% 0% 2% 6.5% ;
  font-size: 125%;

}
a {
  color: #A8A194;
}

a:hover {
  background-color: yellow;
}
