*
body {
background-color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
.containerimage{
  height:78.26%;
  width: 90.55%;
  margin-top: 92px;
  margin-left:11.25%;
  margin-right: 10.4861%;
}
.containerTitle{
  font-family: 'Helvetica', sans-serif;
  font-style: Bold;
  font-weight: 700;
  font-size: 46px;
  color: #000000;
  letter-spacing: -45;
  text-align: left;
  margin-top: 3.272532%;
  margin-left: 11.25%;
  height:2.843348%;
  width:36.180556%;

}

.containersubtitle{
  font-family: 'Georgia', serif;;
  font-size: 25px;
  color: #000000;
  line-height: 25pt;
  letter-spacing: 10;
  text-align: left;
  margin-top: .3755%;
  margin-left: 11.25%;
  height:3.272532%;
  width:46.875%;


}

.flexbox-container {
  display: flex;
}

.flexbox-item {
  margin-top: .5%;
  height:9.6566%;
  width:27.43%;

}



.flexbox-item-1{
  font-family: 'Helvetica', sans-serif;
  font-size: 17px;
  color: #000000;
  line-height: 26pt;
  letter-spacing: -40;
  text-align: left;
  margin-left: 11.25%;
  margin-bottom:5.472103%;



}


.flexbox-item-2{
  font-family: 'Helvetica', sans-serif;
  font-size: 17px;
  color: #000000;
  line-height: 26pt;
  letter-spacing: -40;
  text-align: left;
  margin-left: 1.597%;
  margin-bottom:5.472103%;
  height:2%;
  width:27.43%;


}

.flexbox-item-3{

  font-family: 'Helvetica', sans-serif;
  font-size: 11px;
  color: #000000;
  text-align: left;
  margin-left: 4.86%;
  margin-top:20%;

}
