*
/*Banner Image*/
.banner {
  background-image: url(https://github.com/nickvanert/gra-321-directory/blob/master/responsive-project/img/banner-2.jpg?raw=true);
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@700&family=Sniglet:wght@800&family=Vollkorn+SC:wght@700&display=swap');
/*About description*/
#About{

  font-size: 22px;
  margin-bottom: 100px;
  margin-left: 250px;
  margin-top: 100px;
  margin-right: 250px;
  text-align: center;



}
/*Paninis description*/
#Paninis{
  margin-left: 100px;
  margin-top: 100px;
  margin-right: 100px;
  text-align: left;
  max-width: 35%;


}
/*Panini Title*/
h2 {
font-family: 'Varela Round', sans-serif;
font-size: 35px;



}
/*Panini description*/
p1 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;



}
h3{
  margin-top: 35px;


}
/*Drink Title*/
h4 {
  font-size: 35px;
  font-family: 'Varela Round', sans-serif;
  padding-bottom: 40px;



}
/*Drink Titles*/
h5 {
font-family: 'Poppins', sans-serif;
font-size: 22px;


}
/*Specialty Title*/
h6 {
  font-family: 'Varela Round', sans-serif;
  font-size: 35px;
  padding-bottom: 40px;


}
/* Specialty Drink Titles*/
h7 {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;


}

#Location{
  font-family: 'Varela Round', sans-serif;
  font-size: 35px;
  margin-top:100px;
  margin-left:100px;



}

/*Design and the Arts Library*/
h9{
  font-size: 22px;
}

/*Biodesign Institute, Building B*/
h10 {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;

}
/*Contact info*/
.location-details{

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-left: 100px;
    margin-top: 30px;



  }

.location-details2{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin-left: 100px;
  padding-bottom: 40px;
  padding-top:30px;


}
/* Drink info*/
.flexbox-container {
    align-items: left;
    display: flex;
    justify-content: left;
    width:50%;

}
.flexbox-item {
    margin: 10px;
    width: 100%;

}

.flexbox-item-1 {
  align-self: center;
  flex-grow: 2;
  flex-basis: 0;
  min-height: 50px;
  order: 1;

}

.flexbox-item-2 {
    align-self: center;
    flex-grow: 2;
    flex-basis: 0;
    min-height: 50px;
    order: 1;
}

.flexbox-item-3 {
  align-self: center;
  flex-grow: 2;
  flex-basis: 0;
  min-height: 50px;
  order: 1;
}
/*line*/
hr.line {

	background-color: #fff;
	border-top: 2px dotted #8c8b8b;
  margin-top: 200px;


}

#Drinks{
  margin-top: 200px;
  margin-left: 100px;
  text-align: left;


}

#Specialty{
  margin-bottom: 100px;
  margin-left: 100px;
  margin-top: 100px;
  text-align: left;
}

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  padding: 50px;
  width: 100%;


}

/* Social Media  */
.fa {
  font-size: 30px !important;
  text-decoration: none;
  text-align: center;
  width: 100%;
  line-height: 50px !important;
}


.alpha-container {
  background-color: #492819;
}

.alpha-container h1 {
  color: blue;
}

.alpha-wrapper {
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  margin: 0 10px;
  position: relative;
  transition: 0.3s ease;
  width: 50px;

}

.alpha-wrapper:hover {
  background-color: #2F2E3B;
}

.alpha-wrapper:hover .alpha-icon:after {
  box-shadow: 0 0 0 3px #fff;
	transform: scale(1);
}

.alpha-icon {
  color: #3399ff;
}

.alpha-icon:after {
  box-shadow: 0 0 0 0px #fff;
  border-radius: 50px;
	height: 50px;
	top: -5%;
	left: 0;
  margin: 0 auto;
	position: absolute;
	transform: scale(0.7);
	transition: 0.2s ease;
  width: 50px;
}
/*First image slide*/
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -300%; }
}

body { margin: 0; }
div#slider { overflow: hidden; }
div#slider figure img { width: 5%; float: left; }
div#slider figure {
  animation: 25s slidy infinite;
  font-size: 0;
  left: 0;
  margin: 0;
  position: relative;
  text-align: left;
  width: 500%;
}
/*Second image slide*/
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -300%; }
}

body { margin: 0; }
div#slider2 { overflow: hidden; }
div#slider2 figure img { width: 20%; float: left; }
div#slider2 figure {
  animation: 25s slidy infinite;
  font-size: 0;
  left: 0;
  margin: 0;
  position: relative;
  text-align: left;
  width: 500%;

}
/*Nav Bar*/
#menu {
  z-index: 2;
}

#menu-bar {
  cursor: pointer;
  height: 40px;
  margin: 30px 0 20px 20px;
  width: 45px;

}

.bar {
  height: 5px;
  width: 100%;
  background-color: white;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;

}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg, #menu {
  font-family: 'Poppins', sans-serif;
  left: 0;
  top: 0;
  position: absolute;


}

.menu-bg {
  background: radial-gradient(circle, black, white);
  background: white;
  border-radius: 50%;
  height: 0;
  margin: 30px 0 20px 20px;
  transition: 0.3s ease;
  width: 0;
  z-index: 1;




}

.change {
  display: block;
}

.change .bar {
  background-color: black;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  height: 460px;
  transform: translate(-60%,-30%);
  width: 520px;
}


/*responsive title*/
#cafe {
  color: white;
}

.h1 h1{
  color: white;
  font-family: 'Varela Round', sans-serif;
  font-size: 2.5em;
  left: 32%;
  position: absolute;
  text-align: center;
  top: 20%;






  }

  @media screen and (max-width: 1360px) {

  .h1 h1 {
    left: 35%;
    font-size: 2.2em;


  }

@media screen and (max-width: 700px) {
  .hamburger {
    float: right;
  }

  .h1 h1 {
    font-size: 1.4em;
    left: 23%;
    top: 30%;

  }
