*

  body {
    background: linear-gradient(180deg,#3c3c3c 20% 50%, white 50% 80%, #96ceb4 80%);
    background-image: url(https://github.com/nickvanert/gra-321-directory/blob/master/responsive-project/img/pexels-valeriia-miller-2642842.jpg?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;

  }

}
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');



.header-nav {

  width:90%;
  margin: 0 auto;

  }
}

.nav-bar {
  display:flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
  justify-content: space-between;
  padding: 30px 0 30px 0;

}



#toggle {
display:none;
}

label {
font-size: 40px;
line-height:100px;
cursor: pointer;

}

ul.menu-items {
padding: 20px 0 40px 0;
margin: 0;
list-style-type: none;
text-align: left;



}

ul.menu-items a {
  text-decoration:none;
  line-height:40px;
  text-align: left;
  color: white;
  display:block;
}

#toggle:checked ~ ul.menu-items {
  display:none;
}

/*Desktop Styles*/
@media only screen and (min-width: 500px) {
  .header-nav {

  width:50%;
  margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: space-between;

}

.nav-bar {
  display:inline-block;
  position: relative;
padding-left: 20px;
padding-top: 200px;

  width:

}



#toggle {
display:none;
}

label {
display:none;
}

ul.menu-items, #toggle:checked ~ ul.menu-items {
display: flex;
margin: 0;
list-style-type: none;
text-align: center;
border-top:none;
  width: 100%;
  justify-content: space-between;
}
}
header{
  color:  white;
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 30pt;
padding-top: 45px;
  color:  white;
  text-align: center;

}
  header2{
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 18pt;
    color:  white;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 30pt;
  color:  black;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: medium;
  font-size: 22pt;
  color:  black;
}

h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 22pt;
  color:  black;
}
#about{
  background-color: #82532E;
  margin-top: 54%;
  padding-top: 168px;
  padding-bottom: 168px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}
#menu{

  margin-top: 13%;
  margin-left: 10%;
  margin-right:10%
}
#locations{
  margin-left: 10%;
  margin-right:10%;

}
p1{
  font-family: 'Montserrat', sans-serif;
  font-size: 18pt;
  color:  white;

}

p{
  font-family: 'Montserrat', sans-serif;

  font-size: 18pt;
  color:  black;


}


.flexbox-container {
    display: flex;
    justify-content: left;
    align-items: left;
}

.flexbox-item {
    width: 20px;
    margin: 10px;
  ;
}

.flexbox-item-1 {
  min-height: 50px;
  flex-grow: 2;
  flex-basis: 0;
  align-self: center;
  order: 1;

}

.flexbox-item-2 {
    min-height: 50px;
    flex-grow: 2;
    flex-basis: 0;
    align-self: center;
    order: 1;
}

.flexbox-item-3 {
  min-height: 50px;
  flex-grow: 2;
  flex-basis: 0;
  align-self: center;
  order: 1;
}
=
}
